@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --color00: #7CA2F4;
    --color01: #121214;
    --color02: #E2E6EC;

    --fontearchivo: 'Archivo';
}



*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-color: white;
    color: var(--color01);
    font-family: var(--fontearchivo);
}

header{
    font-size: 0.5em;
    text-align: center;
    padding: 12px;
}

section{
    margin: auto;
    width: 85%;
}

section h2{
    font-size: 1.2em;
    text-align: center;
    margin: 20px 0px 15px 0px;
}

section > p{
    font-size: 0.7em;
    text-align: center;
    margin-bottom: 20px;
}

#tenis{
    margin-top: 40px;
}

#tenis > img{
    display: block;
    margin: auto;
    width: 77%;
}

#fmjordan{
    background: black url('../imagem/michaelbjordan.png');
    background-size: cover;
    height: 300px;
    color: white;
}

#fmjordan div{
    background-color: #121214BF;
    height: 300px;
    padding: 30px;
}

#fmjordan div > h1{
    font-size: 1.3em;
    padding-bottom: 12px;
}

#fmjordan div > h2{
    display: inline-block;
    font-size: 1.1em;
    padding: 50px 0px 30px 10px;
}

#fmjordan div > p{
    line-height: 20px;
}

#detalhes{
    font-family: var(--fontearchivo);
    padding: 15px 0px 0px 0px;
    line-height: 30px;
}

#detalhes a{
    color: var(--color00);
    text-decoration: none;
}

#preco{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.4em;
    margin-top: 10px;
}

@media screen and (min-width: 396px) and (max-width: 600px){
    section > p{
        margin: auto;
        width: 400px;
        font-size: 0.9em;
    }

    section p{
        width: 300px;
    }

    #fmjordan div > p{
        width: 344px;
    }

    #tenis > img{
        width: 270px;
    }
} 