@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --color00: #7CA2F4;
    --color01: #121214;

    --fontearchivo: 'Archivo';
}